# Project Proposal

## Introduction

## Preliminary exploratory data analysis
1) We begin the data analysis by downloading the dataset as .xls format, and reading the data using read_excel. To do so, we use the package readxl and other packages necessary for our data analysis. The data given is already split into training data and testing data. We can read these to objects 'training_data' and 'testing_data'.

In [1]:
library(tidyverse)
library(readxl)
library(ggplot2)
library(gridExtra)
install.packages("psych")
library(psych)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine


Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done


Attaching package: ‘psych’


The following objects are masked from ‘package:ggplot2’:

    %+%, alpha

In [5]:
# show data can be read
train_data <- read_excel("Data_User.xls", sheet="Training_Data") |>
              select(STG:UNS)
test_data <- read_excel("Data_User.xls", sheet="Test_Data") |>
              select(STG:UNS)

# i have sliced this data to show our data tables - Jayden
slice(train_data, 1:6)

slice(test_data, 1:6)

New names:
• `` -> `...7`
• `` -> `...8`
New names:
• `` -> `...7`
• `` -> `...8`

  STG  SCG  STR  LPR  PEG  UNS
1 0.00 0.00 0.00 0.00 0.00 very_low
2 0.08 0.08 0.10 0.24 0.90 High
3 0.06 0.06 0.05 0.25 0.33 Low
4 0.10 0.10 0.15 0.65 0.30 Middle
5 0.08 0.08 0.08 0.98 0.24 Low
6 0.09 0.15 0.40 0.10 0.66 Middle

  STG  SCG  STR  LPR  PEG  UNS
1 0.00 0.10 0.50 0.26 0.05 Very Low
2 0.05 0.05 0.55 0.60 0.14 Low
3 0.08 0.18 0.63 0.60 0.85 High
4 0.20 0.20 0.68 0.67 0.85 High
5 0.22 0.22 0.90 0.30 0.90 High
6 0.14 0.14 0.70 0.50 0.30 Low

The dataset is already tidy. The only adjustment we need to make is to change the target variable's (UNS) character type to a factor type for both testing and training data.

In [3]:
#tidy data: turn UNS into factors in both sets of data
train_data <- train_data |>
mutate(UNS = as_factor(UNS))

test_data <- test_data |>
mutate(UNS = as_factor(UNS))

slice(train_data, 1:6)

slice(test_data, 1:6)

  STG  SCG  STR  LPR  PEG  UNS
1 0.00 0.00 0.00 0.00 0.00 very_low
2 0.08 0.08 0.10 0.24 0.90 High
3 0.06 0.06 0.05 0.25 0.33 Low
4 0.10 0.10 0.15 0.65 0.30 Middle
5 0.08 0.08 0.08 0.98 0.24 Low
6 0.09 0.15 0.40 0.10 0.66 Middle

  STG  SCG  STR  LPR  PEG  UNS
1 0.00 0.10 0.50 0.26 0.05 Very Low
2 0.05 0.05 0.55 0.60 0.14 Low
3 0.08 0.18 0.63 0.60 0.85 High
4 0.20 0.20 0.68 0.67 0.85 High
5 0.22 0.22 0.90 0.30 0.90 High
6 0.14 0.14 0.70 0.50 0.30 Low

For our exploratory data analysis, we summarize the data of the predictors into one table using **describe()** from the package **psych**. The number of observations for each class in the target variable UNS is

In [4]:
#Summary table for predictors in train-data
summary_pred_train <- describe(train_data[-6], fast=TRUE)
summary_pred_train

UNS_count <- train_data |>
group_by(UNS) |>
    summarise(count = n())

UNS_count

    vars n   mean      sd        min max  range se
STG 1    258 0.3711473 0.2102712 0   0.99 0.99  0.01309091
SCG 2    258 0.3556744 0.2119623 0   0.90 0.90  0.01319620
STR 3    258 0.4680039 0.2459398 0   0.95 0.95  0.01531154
LPR 4    258 0.4327132 0.2481080 0   0.99 0.99  0.01544653
PEG 5    258 0.4585388 0.2552109 0   0.93 0.93  0.01588874

  UNS      count
1 very_low 24
2 High     63
3 Low      83
4 Middle   88

## Methods

## Expected outcome and significance